section.home-6(setBackground="./img/bg-home-6-2.png" class="relative rem:h-[628px]")
	.container 
		.home-6-image(class="rem:w-[505px] absolute rem:right-[405px]")
			.image(class="img-ratio ratio:pt-[628_505] lozad") 
				img(src="./img/dienvien.png", alt="")
		.home-6-slide(class="relative") 
			.swiper 
				.swiper-wrapper 
					.swiper-slide 
						.item
							.heading
								h2(class="title-48") Nhận xét của KOL
								.desc Ngọc luôn tin tưởng tuyệt đối vào chất lượng dịch vụ tại Dencos Luxury - nơi giúp Ngọc duy trì vẻ đẹp tự nhiên, rạng rỡ. Dencos không chỉ là nơi chăm sóc sắc đẹp mà còn mang đến cảm giác an tâm tuyệt đối với sự tinh tế, tận tâm và công nghệ thẩm mỹ hàng đầu.
								.name 
									span Diễn viên Ninh Dương Lan Ngọc
							.home-6-btn(class="inline-flex mt-base")
								+ButtonPrimary()
					.swiper-slide 
						.item
							.heading
								h2(class="title-48") Nhận xét của KOL
								.desc Ngọc luôn tin tưởng tuyệt đối vào chất lượng dịch vụ tại Dencos Luxury - nơi giúp Ngọc duy trì vẻ đẹp tự nhiên, rạng rỡ. Dencos không chỉ là nơi chăm sóc sắc đẹp mà còn mang đến cảm giác an tâm tuyệt đối với sự tinh tế, tận tâm và công nghệ thẩm mỹ hàng đầu.
								.name 
									span Diễn viên Ninh Dương Lan Ngọc
							.home-6-btn(class="inline-flex mt-base")
								+ButtonPrimary()
					.swiper-slide 
						.item
							.heading
								h2(class="title-48") Nhận xét của KOL
								.desc Ngọc luôn tin tưởng tuyệt đối vào chất lượng dịch vụ tại Dencos Luxury - nơi giúp Ngọc duy trì vẻ đẹp tự nhiên, rạng rỡ. Dencos không chỉ là nơi chăm sóc sắc đẹp mà còn mang đến cảm giác an tâm tuyệt đối với sự tinh tế, tận tâm và công nghệ thẩm mỹ hàng đầu.
								.name 
									span Diễn viên Ninh Dương Lan Ngọc
							.home-6-btn(class="inline-flex mt-base")
								+ButtonPrimary()
	.home-6-pagination(class="absolute left-2/4 -translate-x-2/4 bottom-4")
		.pagination(class="flex items-center gap-2") 	
	.wrap-button-slide
		.btn.btn-prev.btn-sw-1
		.btn.btn-next.btn-sw-1
		