section.about-5(class="lg:rem:mt-[130px] lg:py-0 py-10 relative")
	.line(class="absolute left-2/4 -translate-x-2/4 top-[-15.5rem] z-2 rem:w-[887px]")
		.image(class="ratio-contain ratio:pt-[481_887]" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="1000")
			img(src="./img/line-3.svg", alt="")
	.about-5-main(class="flex items-center relative")
		.col-left(class="rem:w-[883px] absolute left-0 top-2/4 -translate-y-2/4 z-10")
			.image(data-aos="fade-right" data-aos-duration="1000") 
				a(href="#" class="img-ratio ratio:pt-[688_883] lozad")
					img(src="./img/1.jpg", alt="") 
		.col-right(class="rem:w-[1129px] bg-Primary-Primary_03 section-py ml-auto rem:pl-[245px] rem:pr-[160px]")
			.content(class="rem:w-[634px] rem:py-[160px]" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="1100")
				h3(class="title-48 mb-base") Khách hàng là trọng tâm của mọi giá trị
				.content-wrap(class="flex flex-col gap-6")
					.desc Với Dencos Luxury, mỗi khách hàng không chỉ là người trải nghiệm dịch vụ, mà là một phần của hành trình kiến tạo cái đẹp cùng chúng tôi. Chúng tôi lắng nghe, thấu hiểu và đồng hành, đảm bảo rằng mỗi lựa chọn làm đẹp đều dựa trên sự tư vấn tận tâm và mang lại kết quả tối ưu nhất.
					.desc Với Dencos Luxury, mỗi khách hàng không chỉ là người trải nghiệm dịch vụ, mà là một phần của hành trình kiến tạo cái đẹp cùng chúng tôi. Chúng tôi lắng nghe, thấu hiểu và đồng hành, đảm bảo rằng mỗi lựa chọn làm đẹp đều dựa trên sự tư vấn tận tâm và mang lại kết quả tối ưu nhất.
