section.home-2(class="bg-[#FFFCF4]")
	.home-2-svg
		img(src="./img/svg-home-2.png", alt="" class="w-full h-full object-cover lozad")
	.home-2-main(class="flex items-center") 
		.col-left(class="rem:w-[740px] ")
			.image 
				a(href="javascript:;" class="img-ratio ratio:pt-[948_740] zoom-img")
					img(src="./img/image-1.png", alt="") 
		.col-right(class="w-[calc(100%-38.54166666666667rem)]  pl-15 relative")
			.home-2-image(class="absolute top-2/4 -translate-y-2/4 right-0 rem:w-[316px]")
				a(href="javascript:;" class="img-ratio ratio:pt-[398_316] lozad zoom-img")
					img(src="./img/image-2.png", alt="") 
			.content-top(class="rem:w-[708px]") 
				h2.title-48 Dencos Luxury giúp bạn tìm thấy phiên bản đẹp nhất của chính mình.
				.desc(class="text-Primary-Primary_04 font-normal mt-6 mb-base") Chúng tôi tin rằng sự tinh tế nằm trong từng đường nét, và Dencos Luxury sẽ là nơi giúp bạn tìm thấy phiên bản đẹp nhất của chính mình.
				.home-2-list(class="grid lg:grid-cols-4 grid-cols-2 gap-4")
					.item 
						.icon
							i.fa-thin.fa-buildings
						.content 
							.desc(class="text-sm text-center text-Primary-Primary_04") Cơ sở vật chất đẳng cấp 5 sao
					.item 
						.icon
							i.fa-thin.fa-user-doctor-message
						.content 
							.desc(class="text-sm text-center text-Primary-Primary_04") Cơ sở vật chất đẳng cấp 5 sao
					.item 
						.icon
							i.fa-thin.fa-hand-holding-medical
						.content 
							.desc(class="text-sm text-center text-Primary-Primary_04") Cơ sở vật chất đẳng cấp 5 sao
					.item 
						.icon
							i.fa-thin.fa-heart-circle-check
						.content 
							.desc(class="text-sm text-center text-Primary-Primary_04") Cơ sở vật chất đẳng cấp 5 sao
				.home-2-btn(class="inline-flex rem:mt-[152px]")
					a(href="javascript:;" class="button-primary")
						span Request a quote 
