section.home-3(class="bg-Primary-Primary_02 py-15")
	.container 
		.home-3-list(class="grid lg:grid-cols-4 grid-cols-2 gap-base")
			.item 
				.number.countup(data-number="16+")
				.content 
					.desc Năm kinh nghiệm trong lĩnh vực thẩm mỹ công nghệ cao
			.item 
				.number.countup(data-number="4000+")
				.content 
					.desc Năm kinh nghiệm trong lĩnh vực thẩm mỹ công nghệ cao
			.item 
				.number.countup(data-number="200+")
				.content 
					.desc Năm kinh nghiệm trong lĩnh vực thẩm mỹ công nghệ cao
			.item 
				.number.countup(data-number="100%")
				.content 
					.desc Năm kinh nghiệm trong lĩnh vực thẩm mỹ công nghệ cao