section.service-detail#tab1
	.global-breadcrumb
		.container
			nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
				p
					a(href="https://oracle.webcanhcam.vn") Trang chủ
					span(class="separator") | 
					span(class="last") Về chúng tôi
	.service-main(class="flex")
		.col-left(class="w-6/12")
			.image 
				a(href="#" class="img-ratio ratio:pt-[644_920] lozad")
					img(src="./img/1.jpg", alt="") 
		.col-right(class="w-6/12 bg-Primary-Primary_01 pl-20 rem:pr-[86px] flex-col flex justify-center")
			.content(class="text-center text-Primary-Primary_04")
				h2(class="title-40 mb-6") Vampire Facelift – Giải pháp cho làn da căng mịn, nâng cơ toàn diện
				.desc Vampire Facelift là phương pháp trẻ hóa da mặt không phẫu thuật, kết hợp giữa huyết tương giàu tiểu cầu (PRP) và chất làm đầy axit hyaluronic. Phương pháp này giúp cải thiện độ đàn hồi, làm mờ nếp nhăn và tăng cường độ sáng cho làn da, mang lại vẻ ngoài tươi trẻ và tự nhiên.
section.service-detail-2(class="section-py")
	.format-content(class="rem:w-[920px] mx-auto")
		h2(class="title-40 text-center") Phương pháp Vampire hoạt động như thế nào?
section.service-detail-3#tab2(class="section-py bg-Primary-Primary_01")
	.container 
		.wrap(class="flex items-center gap-16")
			.col-left(class="w-6/12")
				.image 
					a(href="#" class="img-ratio ratio:pt-[453_680] lozad")
						img(src="./img/1.jpg", alt="") 
			.col-right(class="w-6/12")
				h2(class="title-40 mb-6") Điểm nổi trội vượt bậc của Vampire Facelift
				.content-wrap(class="flex flex-col gap-5")
					.content(class="text-Primary-Primary_04")
						h3(class="text-lg text-Primary-Primary_04 font-semibold mb-4") Không phẫu thuật, ít xâm lấn
						.desc Yếu tố an toàn thường được đặt lên hàng đầu đối với phương pháp này bằng cách sử dụng các yếu tố dưỡng chất xuất phát từ chính cơ thể người được điều trị. 
					.content(class="text-Primary-Primary_04")
						h3(class="text-lg text-Primary-Primary_04 font-semibold mb-4") Không phẫu thuật, ít xâm lấn
						.desc Yếu tố an toàn thường được đặt lên hàng đầu đối với phương pháp này bằng cách sử dụng các yếu tố dưỡng chất xuất phát từ chính cơ thể người được điều trị. 
section.service-detail-4(class="section-py")
	.container 
		h2(class="title-40 mb-base") Những ai nên chọn phương pháp Vampire Facelift?
		.service-detail-4-slide(class="relative")
			.swiper 
				.swiper-wrapper 
					-for(var i = 0; i < 8; i++)
						.swiper-slide 
							.item 
								.image 
									a(href="#" class="img-ratio ratio:pt-[384_320] lozad")
										img(src="./img/1.jpg", alt="") 
								.content(class="bg-Primary-Primary_01 p-5 text-Primary-Primary_04") 
									.top 
										h3(class="text-lg font-semibold") Gương mặt thiếu sức sống, hốc hác
									.bottom 
										.desc Do mất mô và thể tích, gây hóp má, lõm thái dương, hốc mắt sâu.
			.wrap-button-slide
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1
section.service-detail-5
	.container 
		h2(class="title-40 mb-base text-center") Quy trình của phương pháp Vampire Facelift
		.time-line(class="rem:w-[920px] mx-auto mb-base")
			.dot
			.dot
			.circle
				.dot
			.dot
			.dot
		.wrap(class="flex")
			.col-left(class="rem:w-[720px] p-16 bg-Primary-Primary_01")
				.swiper 
					.swiper-wrapper 
						.swiper-slide 
							.number 01
							.content(class="text-Primary-Primary_04") 
								.step(class="text-2xl font-semibold mb-4") Bước 1:
								.desc Đưa các tế bào huyết tương giàu tiểu cầu đã được chiết xuất hoạt hoá với chất nền Canxi Clorua và Hyaluronic Acid để tạo thành một hợp chất dạng gel. Hợp chất này sẽ có tác dụng tạo một liên kết nâng đỡ vững chắc cho cấu trúc mô, khắc phục tình trạng mô bị hư hại một cách an toàn, không có tác dụng phụ. 
						.swiper-slide 
							.number 02
							.content(class="text-Primary-Primary_04") 
								.step(class="text-2xl font-semibold mb-4") Bước 2:
								.desc Đưa các tế bào huyết tương giàu tiểu cầu đã được chiết xuất hoạt hoá với chất nền Canxi Clorua và Hyaluronic Acid để tạo thành một hợp chất dạng gel. Hợp chất này sẽ có tác dụng tạo một liên kết nâng đỡ vững chắc cho cấu trúc mô, khắc phục tình trạng mô bị hư hại một cách an toàn, không có tác dụng phụ. 
						.swiper-slide 
							.number 03
							.content(class="text-Primary-Primary_04") 
								.step(class="text-2xl font-semibold mb-4") Bước 3:
								.desc Đưa các tế bào huyết tương giàu tiểu cầu đã được chiết xuất hoạt hoá với chất nền Canxi Clorua và Hyaluronic Acid để tạo thành một hợp chất dạng gel. Hợp chất này sẽ có tác dụng tạo một liên kết nâng đỡ vững chắc cho cấu trúc mô, khắc phục tình trạng mô bị hư hại một cách an toàn, không có tác dụng phụ. 
			.col-right(class="w-[calc(100%-37.5rem)]")
				.image 
					a(href="#" class="img-ratio ratio:pt-[472_680] lozad")
						img(src="./img/1.jpg", alt="") 
section.service-detail-6#tab3(class="section-py")
	.container 
		h2(class="title-40 mb-base text-center") Hình ảnh thực tế khách hàng sử dụng dịch vụ 
		.service-detail-6-slide(class="relative")
			.swiper
				.swiper-wrapper 
					.swiper-slide 
						.item 
							.service-detail-6-main(class="flex") 
								.before(class="w-2/4")
									.image
										a(href="#" class="img-ratio ratio:pt-[517_460] lozad")
											img(src="./img/1.jpg", alt="") 
									.title Before
								.after(class="w-2/4")
									.image
										a(href="#" class="img-ratio ratio:pt-[517_460] lozad")
											img(src="https://picsum.photos/1040/585", alt="") 
									.title After
					.swiper-slide 
						.item 
							.service-detail-6-main(class="flex") 
								.before(class="w-2/4")
									.image
										a(href="#" class="img-ratio ratio:pt-[517_460] lozad")
											img(src="./img/1.jpg", alt="") 
									.title Before
								.after(class="w-2/4")
									.image
										a(href="#" class="img-ratio ratio:pt-[517_460] lozad")
											img(src="https://picsum.photos/1040/585", alt="") 
									.title After
					.swiper-slide 
						.item 
							.service-detail-6-main(class="flex") 
								.before(class="w-2/4")
									.image
										a(href="#" class="img-ratio ratio:pt-[517_460] lozad")
											img(src="./img/1.jpg", alt="") 
									.title Before
								.after(class="w-2/4")
									.image
										a(href="#" class="img-ratio ratio:pt-[517_460] lozad")
											img(src="https://picsum.photos/1040/585", alt="")
									.title After 
					.swiper-slide 
						.item 
							.service-detail-6-main(class="flex") 
								.before(class="w-2/4")
									.image
										a(href="#" class="img-ratio ratio:pt-[517_460] lozad")
											img(src="./img/1.jpg", alt="") 
									.title Before
								.after(class="w-2/4")
									.image
										a(href="#" class="img-ratio ratio:pt-[517_460] lozad")
											img(src="https://picsum.photos/1040/585", alt="") 
									.title After
section.service-detail-7(class="section-py")
	.container 
		h2(class="title-40 mb-base text-center") Các dịch vụ khác
		.service-detail-7-slide(class="relative") 
			.swiper
				.swiper-wrapper 
					.swiper-slide 
						.item 
							.image 
								a(href="#" class="img-ratio ratio:pt-[292_440] lozad")
									img(src="./img/1.jpg", alt="") 
							.content(class="text-center mt-6 text-Primary-Primary_04 px-5")
								h3(class="text-2xl font-secondary font-medium mb-4") Tảo RYU Nhật Bản
								.desc Lorem ipsum dolor sit amet consectetur. Sit erat cras morbi interdum est.
					.swiper-slide  
						.item 
							.image 
								a(href="#" class="img-ratio ratio:pt-[292_440] lozad")
									img(src="./img/1.jpg", alt="") 
							.content(class="text-center mt-6 text-Primary-Primary_04 px-5")
								h3(class="text-2xl font-secondary font-medium mb-4") Tảo RYU Nhật Bản
								.desc Lorem ipsum dolor sit amet consectetur. Sit erat cras morbi interdum est.
					.swiper-slide 
						.item 
							.image 
								a(href="#" class="img-ratio ratio:pt-[292_440] lozad")
									img(src="./img/1.jpg", alt="") 
							.content(class="text-center mt-6 text-Primary-Primary_04 px-5")
								h3(class="text-2xl font-secondary font-medium mb-4") Tảo RYU Nhật Bản
								.desc Lorem ipsum dolor sit amet consectetur. Sit erat cras morbi interdum est.
					.swiper-slide 
						.item 
							.image 
								a(href="#" class="img-ratio ratio:pt-[292_440] lozad")
									img(src="./img/1.jpg", alt="") 
							.content(class="text-center mt-6 text-Primary-Primary_04")
								h3(class="text-2xl font-secondary font-medium") Tảo RYU Nhật Bản
								.desc Lorem ipsum dolor sit amet consectetur. Sit erat cras morbi interdum est.
			.wrap-button-slide
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1
.service-tab-fixed
	ul.tabslet-tab
		li.active
			a(href="#tab1") Tổng quan
		li
			a(href="#tab2") Điểm nổi bật
		li
			a(href="#tab3") Hình ảnh thực tế
		li
			a(href="#tab4") Đăng ký tư vấn
+RegisterSection()

