section.home-7(class="pt-20")
	.container 
		h2(class="title-48 text-center mb-15") Cơ sở vật chất đẳng cấp 
		.home-7-slide(class="relative")
			.swiper 
				.swiper-wrapper 
					.swiper-slide 
						.item 
							.image(class="relative") 
								a(href="#" class="zoom-img")
									img(src="./img/1.jpg", alt="" class="w-full h-full")
								.content(class="absolute text-center bottom-10 left-2/4 -translate-x-2/4")
									h3(class="text-2xl font-normal text-Neutral-White") Cơ sở vật chất đẳng cấp 5 sao
					.swiper-slide 
						.item 
							.image(class="relative") 
								a(href="#" class="zoom-img")
									img(src="./img/1.jpg", alt="" class="w-full h-full")
								.content(class="absolute text-center bottom-10 left-2/4 -translate-x-2/4")
									h3(class="text-2xl font-normal text-Neutral-White") Cơ sở vật chất đẳng cấp 5 sao
					.swiper-slide 
						.item 
							.image(class="relative") 
								a(href="#" class="zoom-img")
									img(src="https://picsum.photos/1040/585", alt="" class="w-full h-full")
								.content(class="absolute text-center bottom-10 left-2/4 -translate-x-2/4")
									h3(class="text-2xl font-normal text-Neutral-White") Cơ sở vật chất đẳng cấp 5 sao
					.swiper-slide 
						.item 
							.image(class="relative") 
								a(href="#" class="zoom-img")
									img(src="./img/1.jpg", alt="" class="w-full h-full")
								.content(class="absolute text-center bottom-10 left-2/4 -translate-x-2/4")
									h3(class="text-2xl font-normal text-Neutral-White") Cơ sở vật chất đẳng cấp 5 sao
					.swiper-slide 
						.item 
							.image(class="relative") 
								a(href="#" class="zoom-img")
									img(src="./img/1.jpg", alt="" class="w-full h-full")
								.content(class="absolute text-center bottom-10 left-2/4 -translate-x-2/4")
									h3(class="text-2xl font-normal text-Neutral-White") Cơ sở vật chất đẳng cấp 5 sao
			.wrap-button-slide
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1
			.arrow-button-mobile(class="flex items-center justify-center gap-10 mt-base xl:hidden")
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1