.tool-fixed-cta
	@apply fixed bottom-2 right-0 z-999  lg:py-15 lg:px-10 py-5 px-3
	ul
		@apply flex flex-col gap-3
		li
			a
				@apply w-15 h-15 inline-flex items-center justify-center border border-Primary-Primary_05 bg-Primary-Primary_02 text-Neutral-White rounded-full text-2xl
				&.phone
					animation: ring 1s ease-in-out infinite both, bluePulse 2.5s ease-in-out infinite
				&.zalo
					@apply bg-[#0180C7] border-none
				&.messenger
					@apply bg-[#1968EF] border-none
@media (max-width: 767.98px)
	.tool-fixed-cta
		@apply left-2/4 -translate-x-2/4 w-full
		ul
			@apply flex-row gap-6 justify-center
		
@keyframes ring
	0%
		transform: rotate(0deg)
	20%
		transform: rotate(5deg)
	40%
		transform: rotate(-3deg)
	60%
		transform: rotate(3deg)
	70%
		transform: rotate(0deg)
	100%
		transform: rotate(0deg)
@keyframes bluePulse 
	0% 
		box-shadow: 0 0 0 0 rgba(128, 0, 255, 0.3)
	
	70% 
		box-shadow: 0 0 0 8px rgba(128, 0, 255, 0)

	100% 
		box-shadow: 0 0 0 0 rgba(128, 0, 255, 0)

