section.about-2 
	.col-left(class="rem:w-[1387px] bg-Primary-Primary_03 rem:rounded-br-[500px] relative")
		.about-2-wrap(class="rem:py-[160px] rem:pl-[235px] ")
			.heading(class="mb-16")
				h2(class="title-48 ") Cơ sở vật chất hiện đại
			.content(class="flex flex-col gap-3 rem:w-[661px] text-Primary-Primary_04") 
				h3(class="text-xl font-medium text-Primary-Primary_04") Không gian lý tưởng chăm sóc sắc đẹp cho bạn
				.desc Khi Dencos Luxury được thành lập, chúng tôi luôn mang trong mình một tầm nhìn rõ ràng: xây dựng một thương hiệu thẩm mỹ đẳng cấp quốc tế, đồng thời đưa ngành thẩm mỹ Việt Nam phát triển vượt bậc. 
				.desc Chúng tôi không ngừng cải tiến công nghệ với cơ sở vật chất hiện đại, đồng thời cũng đầu tư vào việc nghiên cứu - ứng dụng các hoạt chất mới, nhằm mang đến cho khách hàng những dịch vụ có chất lượng tốt nhất.
				.desc Đặc biệt, Dencos Luxury rất chú trọng đến đội ngũ bác sĩ và chuyên gia. Các bác sĩ của chúng tôi đều được đào tạo bài bản, đạt chứng nhận quốc tế về các quy trình tư vấn, điều trị và chăm sóc khách hàng. 
				.desc Chính vì vậy, Dencos Luxury đã nhanh chóng trở thành lựa chọn tin cậy của khách hàng, xây dựng được tên tuổi vững mạnh và trở thành một trong những viện thẩm mỹ uy tín hàng đầu tại Việt Nam.
		.about-2-image(class="absolute right-[-19rem] rem:top-[125px]") 
			.image(class="rem:w-[791px]") 
				a(href="#" class="img-ratio")
					img(src="./img/about-image-1.png", alt="") 

