section.about-4(class="lg:rem:mt-[230px] mt-base relative")
	.line(class="absolute left-2/4 -translate-x-2/4 top-[-15.5rem] z-[-3] rem:w-[992px]")
		.image(class="ratio-contain ratio:pt-[456_992]")
			img(src="./img/line-2.svg", alt="")
	.about-4-wrap(class="rem:px-[86px] flex items-center rem:gap-[160px]")
		.col-left(class="rem:w-[794px] rem:pl-[150px] mt-[-6.5rem]")
			.content(class=" text-Primary-Primary_04 rem:w-[644px]")
				h2(class="title-48 mb-base") Dencos Luxury - Vẻ đẹp  tự nhiên, an toàn bền vững
				.content-wrap(class="flex flex-col gap-6") 
					h3(class="text-xl font-semibold") Với sứ mệnh trở thành viện thẩm mỹ quốc tế hàng đầu
					.desc Dencos Luxury cam kết cung cấp các dịch vụ làm đẹp chất lượng cao, mang đến cho khách hàng những trải nghiệm hoàn hảo nhất. Chúng tôi tôn vinh vẻ đẹp riêng biệt của từng khách hàng - hướng đến tiêu chí làm đẹp An Toàn - Bền Vững, từ đó giúp khách hàng tự tin hơn với bản thân, đánh thức vẻ đẹp tiềm ẩn và khác biệt trong mỗi con người.
					.desc Chúng tôi luôn hiểu rằng vẻ đẹp không chỉ đến từ ngoại hình mà còn từ sự tự tin mà mỗi người cảm nhận được sắc đẹp của mình ngày một hoàn thiện hơn. Vì thế, Dencos Luxury luôn đảm bảo mang đến cho khách hàng những dịch vụ an toàn tuyệt đối, hiệu quả tối ưu, và sự hài lòng vượt trên cả mong đợi.
		.col-right(class="w-[calc(100%-41.35416666666667rem-8.333333333333334rem)]")
			.image 
				a(href="#" class="img-ratio ratio:pt-[904_794] lozad rem:rounded-bl-[400px] rem:rounded-br-[400px]")
					img(src="./img/1.jpg", alt="") 
