section.home-8(class="section-py")
	.container 
		h2(class="title-48 text-center mb-base") Thông điệp từ Founder Dencos Luxury
		.home-8-slide(class="relative")
			.swiper 
				.swiper-wrapper 
					.swiper-slide 
						.home-8-main(class="flex" setBackground="./img/bg-home-8.png") 
							.col-left(class="rem:w-[523px]")
								.image(class="relative")
									a(href="#" class="img-ratio ratio:pt-[516_523]")
										img(src="./img/box.png", alt="")
									.avatar(class="absolute top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 rem:w-[338px]")
										a(href="#" class="img-ratio ratio:pt-[514_338]")
											img(src="./img/avatar.png", alt="") 
							.col-right(class="w-[calc(100%-27.239583333333336rem)] flex flex-col justify-center rem:pl-[78px] rem:pr-[120px]")
								h3(class="text-32 font-normal text-Primary-Primary_04 mb-2") Bác sĩ Loan - CEO/ Founder
								.desc(class="text-Neutral-700 font-normal") Bác sĩ Loan là chuyên gia thẩm mỹ với nhiều năm kinh nghiệm, tận tâm mang đến giải pháp làm đẹp an toàn và hiệu quả, giúp khách hàng tự tin với vẻ ngoài rạng rỡ.
					.swiper-slide 
						.home-8-main(class="flex" setBackground="./img/bg-home-8.png") 
							.col-left(class="rem:w-[523px]")
								.image(class="relative")
									a(href="#" class="img-ratio ratio:pt-[516_523]")
										img(src="./img/box.png", alt="")
									.avatar(class="absolute top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 rem:w-[338px]")
										a(href="#" class="img-ratio ratio:pt-[514_338]")
											img(src="./img/avatar.png", alt="") 
							.col-right(class="w-[calc(100%-27.239583333333336rem)] flex flex-col justify-center rem:pl-[78px] rem:pr-[120px]")
								h3(class="text-32 font-normal text-Primary-Primary_04 mb-2") Bác sĩ Loan 2 - CEO/ Founder
								.desc(class="text-Neutral-700 font-normal") Bác sĩ Loan là chuyên gia thẩm mỹ với nhiều năm kinh nghiệm, tận tâm mang đến giải pháp làm đẹp an toàn và hiệu quả, giúp khách hàng tự tin với vẻ ngoài rạng rỡ.
					.swiper-slide 
						.home-8-main(class="flex" setBackground="./img/bg-home-8.png") 
							.col-left(class="rem:w-[523px]")
								.image(class="relative")
									a(href="#" class="img-ratio ratio:pt-[516_523]")
										img(src="./img/box.png", alt="")
									.avatar(class="absolute top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 rem:w-[338px]")
										a(href="#" class="img-ratio ratio:pt-[514_338]")
											img(src="./img/avatar.png", alt="") 
							.col-right(class="w-[calc(100%-27.239583333333336rem)] flex flex-col justify-center rem:pl-[78px] rem:pr-[120px]")
								h3(class="text-32 font-normal text-Primary-Primary_04 mb-2") Bác sĩ Loan - CEO/ Founder
								.desc(class="text-Neutral-700 font-normal") Bác sĩ Loan là chuyên gia thẩm mỹ với nhiều năm kinh nghiệm, tận tâm mang đến giải pháp làm đẹp an toàn và hiệu quả, giúp khách hàng tự tin với vẻ ngoài rạng rỡ.
			.wrap-button-slide
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1
			.arrow-button-mobile(class="flex items-center justify-center gap-10 mt-base xl:hidden")
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1