section.home-1(class="relative hidden md:block")
	.home-1-slide(class="relative")
		.swiper.swiper-home-banner
			.swiper-wrapper 
				.swiper-slide
					.home-1-banner(class="relative") 
						a(href="#" class="img-ratio ratio:pt-[1080_1920] lozad")
							img(src="./img/banner-1.png", alt="") 
						.home-1-content(class="absolute bottom-[8.2rem] rem:left-[260px] z-50 text-Neutral-White ") 
							h1(class="title-64 font-medium text-Neutral-White ") 
								| Tỏa sáng với vẻ đẹp
								br 
								| hoàn hảo từ từng chi tiết
							.desc(class="font-normal mt-6 mb-15") Vẻ đẹp tỏa sáng từ sự tinh tế, Dencos Luxury giúp bạn khám phá phiên bản rạng ngời nhất của chính mình
							.home-1-btn(class="inline-flex")
								a(href="#" class="button-primary white")
									span TÌM HIỂU THÊM
				.swiper-slide
					.home-1-banner(class="relative") 
						a(href="#" class="img-ratio ratio:pt-[1080_1920] lozad")
							img(src="./img/1.jpg", alt="") 
						.home-1-content(class="absolute bottom-[8.2rem] rem:left-[260px] z-20 text-Neutral-White") 
							h1(class="title-64 font-medium text-Neutral-White") 
								| Tỏa sáng với vẻ đẹp
								br 
								| hoàn hảo từ từng chi tiết
							.desc(class="font-normal mt-6 mb-15") Vẻ đẹp tỏa sáng từ sự tinh tế, Dencos Luxury giúp bạn khám phá phiên bản rạng ngời nhất của chính mình
							.home-1-btn(class="inline-flex")
								a(href="#" class="button-primary white")
									span TÌM HIỂU THÊM
				.swiper-slide
					.home-1-banner(class="relative") 
						a(href="#" class="img-ratio ratio:pt-[1080_1920] lozad")
							img(src="./img/banner-1.png", alt="") 
						.home-1-content(class="absolute bottom-[8.2rem] rem:left-[260px] z-20 text-Neutral-White") 
							h1(class="title-64 font-medium text-Neutral-White") 
								| Tỏa sáng với vẻ đẹp
								br 
								| hoàn hảo từ từng chi tiết
							.desc(class="font-normal mt-6 mb-15") Vẻ đẹp tỏa sáng từ sự tinh tế, Dencos Luxury giúp bạn khám phá phiên bản rạng ngời nhất của chính mình
							.home-1-btn(class="inline-flex")
								a(href="#" class="button-primary white")
									span TÌM HIỂU THÊM
			.pagination(class="flex items-center gap-5")
		.wrap-button-slide
			.btn.btn-prev.btn-sw-1.white
			.btn.btn-next.btn-sw-1.white
section.home-1-mobile(class="block md:hidden relative")
	.swiper.swiper-home-banner-mobile 
		.swiper-wrapper 
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="./img/banner-mobile.png", alt="") 
					.home-1-content(class="absolute top-10 px-4 z-20 text-Neutral-White") 
							h1(class="title-64 font-medium text-Neutral-White ") 
								| Tỏa sáng với vẻ đẹp
								br 
								| hoàn hảo từ từng chi tiết
							.desc(class="font-normal mt-6 mb-15") Vẻ đẹp tỏa sáng từ sự tinh tế, Dencos Luxury giúp bạn khám phá phiên bản rạng ngời nhất của chính mình
							.home-1-btn(class="inline-flex")
								a(href="#" class="button-primary white")
									span TÌM HIỂU THÊM
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="./img/1.jpg", alt="") 
					.home-1-content(class="absolute top-10 px-4 z-20 text-Neutral-White") 
							h1(class="title-64 font-medium text-Neutral-White ") 
								| Tỏa sáng với vẻ đẹp
								br 
								| hoàn hảo từ từng chi tiết
							.desc(class="font-normal mt-6 mb-15") Vẻ đẹp tỏa sáng từ sự tinh tế, Dencos Luxury giúp bạn khám phá phiên bản rạng ngời nhất của chính mình
							.home-1-btn(class="inline-flex")
								a(href="#" class="button-primary white")
									span TÌM HIỂU THÊM
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="./img/banner-mobile.png", alt="") 
					.home-1-content(class="absolute top-10 px-4 z-20 text-Neutral-White") 
							h1(class="title-64 font-medium text-Neutral-White ") 
								| Tỏa sáng với vẻ đẹp
								br 
								| hoàn hảo từ từng chi tiết
							.desc(class="font-normal mt-6 mb-15") Vẻ đẹp tỏa sáng từ sự tinh tế, Dencos Luxury giúp bạn khám phá phiên bản rạng ngời nhất của chính mình
							.home-1-btn(class="inline-flex")
								a(href="#" class="button-primary white")
									span TÌM HIỂU THÊM
	.wrap-button-slide
		.btn.btn-prev.btn-sw-1.white
		.btn.btn-next.btn-sw-1.white