//- button animation icon di chuyển sang phải
mixin button() 
	.button(class="mt-10")
		a(href="#" class="btn-lined")
			span xem them 
			span(class="icon") 
				i.fa-solid.fa-arrow-right
				i.fa-solid.fa-arrow-right
mixin subscribeForm()
	.subscribe
		.subscribefrm
			input.subscribeemail(type="text", placeholder="Nhập email của bạn...")
			button.subscribebutton Gửi
mixin PugImg(url="./img/1.jpg")
	img(data-src=url, alt="", class="lozad " + attributes.class)
mixin btnViewAll(text="Xem thêm")
	a(href="" x-link class='btn-primary-2 btn ' + attributes.class)
		span=text
		img(src=imgButton, alt="", class="w-5 h-5 svg")
mixin HeaderLanguageVertical()
	ul 
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
		ul 
			li 
				a(href="") 
					span EN
mixin HeaderLanguageHorizontal()
	ul 
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
mixin BtnPrimary(text="")
	a(href="", class='btn-primary btn ' + attributes.class)
		span=text

mixin btnPrimary()
	.btn-btn-primary(class="inline-flex items-center group")
		button(class="btn-primary py-3 px-5 border border-Neutral-900 group-hover:border-Primary-Primary_01  rem:h-[50px]")
			a(href="#" class="text-lg font-semibold") Explore 
		a(href="#" class="btn-lined group-hover:border-Primary-Primary_01 text-lg font-normal flex items-center gap-2")
			span(class="icon to-right") 
				i.fa-regular.fa-arrow-right
				i.fa-regular.fa-arrow-right
mixin btnSecondary()
	.btn-btn-secondary(class="inline-flex items-center group")
		button(class="btn-primary py-3 px-5 border border-Neutral-White  rem:h-[50px]")
			a(href="#" class="text-lg font-semibold") Explore 
		a(href="#" class="btn-lined  text-lg font-normal flex items-center gap-2")
			span(class="icon to-right") 
				i.fa-regular.fa-arrow-right
				i.fa-regular.fa-arrow-right

mixin ButtonPrimary()
	a(href="#" class="button-primary")
		span TÌM HIỂU THÊM
mixin toolFixed()
	.tool-fixed-cta
		.btn.button-to-top
			.btn-icon
				.icon 
		a.btn.btn-content
			.btn-icon
				.icon
					i.fa-light.fa-location-dot
			.content Chi nhánh
		a.btn.btn-content
			.btn-icon
				.icon
					i.fa-light.fa-phone
			.content 1900 2273 – (028) 7100 0001
		.btn.btn-content.btn-social
			.btn-icon
				.icon
					i.fa-light.fa-messages
			.content
				ul 
					li 
						a(href="") 
							img(src="./img/social/mess.png", alt="facebook", class="")
					li 
						a(href="") 
							img(src="./img/social/zalo.png", alt="zalo", class="")
					li 
						a(href="") 
							img(src="./img/social/mess-bot.png", alt="facebook", class="")
mixin PartnerSection()
	.partner(class="bg-Primary-Primary_04 py-10") 
		.partner-container(class="lg:rem:w-[1260px] w-full mx-auto") 
			h2(class="title-48 text-center mb-base !text-Neutral-White") Đối tác của chúng tôi
			.swiper
				.swiper-wrapper
					-for(var i = 0; i < 6; i++) 
						.swiper-slide 
							.item
								a(href="#" class="img-ratio ratio:pt-[56_160] lozad")
									img(src="./img/partner-1.png", alt="") 

mixin RegisterSection()
	section.home-11#tab4(class="bg-linear-form bg-Primary-Primary_03 relative z-50")
		.home-11-main(class="flex")
			.col-left(class="rem:w-[998px] relative z-10")
				.image 
					a(href="#" class="img-ratio ratio:pt-[641_998] lozad")
						img(src="./img/image-3.png", alt="") 
			.col-right(class="w-[calc(100%-51.97916666666667rem)] bg-Primary-Primary_03 relative z-11 pl-28 overflow-hidden flex flex-col justify-center" setBackground="./img/bg-register.png")
				h2(class="title-48") Đăng ký tư vấn
				form.form-register(action="")
					.form-group 
						label(for="") Họ và tên
						.form-field
							input(type="text" placeholder="Nhập họ và tên của bạn")
							.icon 
								i.fa-solid.fa-user
					.form-group 
						label(for="") Số điện thoại 
						.form-field
							input(type="text" placeholder="Nhập thông tin")
							.icon 
								i.fa-solid.fa-phone
					.form-group 
						label(for="") Nội dung
						.form-field
							input(type="text" placeholder="Nhập nội dung")
							.icon 
								i.fa-solid.fa-pen-to-square
					.form-submit 
						+ButtonPrimary()
mixin Banner()
	.banner
		a(href="#" class="img-ratio ratio:pt-[740_1920]")
			img(src="./img/1.jpg", alt="",) 
mixin Pagination()
	.pagination 
		ul 
			li 
				a.page-numbers.current(href="#") 1
			li 
				a.page-numbers(href="#") 2
			li 
				a.page-numbers(href="#") 3