footer.footer 
	.container 
		.footer-top 
			.footer-column 
				h3 Viện Thẩm Mỹ Quốc Tế Dencos Luxury 
				a.address(href="#") 314 Điện Biên Phủ, Phường 11, Quận 10
				a.phone(href="tel:0123456789") Hotline: 0906.888.836
				.footer-certificate
					.medical(class="w-16") 
						a(href="#" class="img-ratio ratio:pt-[64_64]")
							img(src="./img/medical.png", alt="") 
					.industry(class="rem:w-[158px]")
						a(href="#" class="img-ratio ratio:pt-[60_158]")
							img(src="./img/bocongthuong.png", alt="")
			.footer-column 
				h3 Liên kết nhanh
				ul.footer-menu 
					li 
						a(href="#") Giới thiệu
					li 
						a(href="#") Dịch vụ
					li 
						a(href="#") Tin tức - Kiến thức
					li 
						a(href="#") Tuyển dụng
					li 
						a(href="./faq.html") Hỗ trợ
					li 
						a(href="./contact.html") Liên hệ
			.footer-column 
				h3 Dịch vụ nổi bật 
				ul.footer-menu 
					li 
						a(href="#") Giảm mỡ không phẫu thuật
					li 
						a(href="#") Căng da bằng chỉ sinh học không phẫu thuật
					li 
						a(href="#") Điêu khắc, cân chỉnh đường nét khuôn mặt và cơ thể
					li 
						a(href="#") Căng da, nâng cơ
			.footer-column 
				h3 Theo dõi chúng tôi
				.footer-social
					a(href="#")
						i.fa-brands.fa-tiktok
					a(href="#")
						i.fa-brands.fa-youtube
					a(href="#")
						i.fa-brands.fa-facebook-f
					a(href="#")
						i.fa-brands.fa-instagram
		.footer-bottom(class="mt-15 flex  items-center justify-between")
			.footer-copyright(class="rem:text-[14px] font-normal") © 2025 Dencos Luxury. All Rights Reserved. Thiết kế web bởi Cánh Cam. 
			.footer-policy(class="flex items-center gap-6")
				a(href="#" class="rem:text-[14px] font-normal") Chính sách bảo mật
				a(href="#" class="rem:text-[14px] font-normal") Điều kiện & Điều khoản
.tool-fixed-cta
	ul 
		li 
			a(href="#")
				i.fa-light.fa-pen-to-square
		li 
			a.phone(href="#")
				i.fa-light.fa-phone
		li 
			a.zalo(href="#")
				.icon(class="rem:w-[42px] h-10")
					img(src="./img/zalo.svg", alt="" class="w-full h-full object-cover")
		li 
			a.messenger(href="#")
				i.fa-brands.fa-facebook-messenger