section.home-9(class="section-py bg-Neutral-50")
	.container 
		h2(class="title-48 text-center mb-15") Nhận xét khách hàng
		.home-9-slide(class="relative")
			.swiper 
				.swiper-wrapper 
					.swiper-slide
						.item 
							.image 
								a(href="javascript:;" class="img-ratio ratio:pt-[203_360] lozad zoom-img")
									img(src="./img/1.jpg", alt="") 
							.content(class="bg-Neutral-White p-4")
								.top 
									.desc(class="text-sm font-normal text-Neutral-500-main") Trước đó em làm mũi 2 lần ở 1 phòng không uy tín, kết quả để lại là 
								.bottom 
									.name(class="text-Primary-Primary_04 font-normal") Vũ Bảo Châu
									.jop(class="text-xs font-normal text-Neutral-500-main") General Manager
					.swiper-slide
						.item 
							.image 
								a(href="javascript:;" class="img-ratio ratio:pt-[203_360] lozad zoom-img")
									img(src="./img/1.jpg", alt="") 
							.content(class="bg-Neutral-White p-4")
								.top 
									.desc(class="text-sm font-normal text-Neutral-500-main") Trước đó em làm mũi 2 lần ở 1 phòng không uy tín, kết quả để lại là em bị thủng mũi và để lại sẹo lõm to. Sau đó em biết đến bác sỹ và làm tại Thẩm mỹ viện...
								.bottom 
									.name(class="text-Primary-Primary_04 font-normal") Vũ Bảo Châu
									.jop(class="text-xs font-normal text-Neutral-500-main") General Manager
					.swiper-slide
						.item 
							.image 
								a(href="javascript:;" class="img-ratio ratio:pt-[203_360] lozad zoom-img")
									img(src="./img/1.jpg", alt="") 
							.content(class="bg-Neutral-White p-4")
								.top 
									.desc(class="text-sm font-normal text-Neutral-500-main") Trước đó em làm mũi 2 lần ở 1 phòng không uy tín, kết quả để lại là em bị thủng mũi và để lại sẹo lõm to. Sau đó em biết đến bác sỹ và làm tại Thẩm mỹ viện...
								.bottom 
									.name(class="text-Primary-Primary_04 font-normal") Vũ Bảo Châu
									.jop(class="text-xs font-normal text-Neutral-500-main") General Manager
					.swiper-slide
						.item 
							.image 
								a(href="javascript:;" class="img-ratio ratio:pt-[203_360] lozad zoom-img")
									img(src="./img/1.jpg", alt="") 
							.content(class="bg-Neutral-White p-4")
								.top 
									.desc(class="text-sm font-normal text-Neutral-500-main") Trước đó em làm mũi 2 lần ở 1 phòng không uy tín, kết quả để lại là em bị thủng mũi và để lại sẹo lõm to. Sau đó em biết đến bác sỹ và làm tại Thẩm mỹ viện...
								.bottom 
									.name(class="text-Primary-Primary_04 font-normal") Vũ Bảo Châu
									.jop(class="text-xs font-normal text-Neutral-500-main") General Manager
					.swiper-slide
						.item 
							.image 
								a(href="javascript:;" class="img-ratio ratio:pt-[203_360] lozad zoom-img")
									img(src="./img/1.jpg", alt="") 
							.content(class="bg-Neutral-White p-4")
								.top 
									.desc(class="text-sm font-normal text-Neutral-500-main") Trước đó em làm mũi 2 lần ở 1 phòng không uy tín, kết quả để lại là em bị thủng mũi và để lại sẹo lõm to. Sau đó em biết đến bác sỹ và làm tại Thẩm mỹ viện...
								.bottom 
									.name(class="text-Primary-Primary_04 font-normal") Vũ Bảo Châu
									.jop(class="text-xs font-normal text-Neutral-500-main") General Manager
					.swiper-slide
						.item 
							.image 
								a(href="javascript:;" class="img-ratio ratio:pt-[203_360] lozad zoom-img")
									img(src="./img/1.jpg", alt="") 
							.content(class="bg-Neutral-White p-4")
								.top 
									.desc(class="text-sm font-normal text-Neutral-500-main") Trước đó em làm mũi 2 lần ở 1 phòng không uy tín, kết quả để lại là em bị thủng mũi và để lại sẹo lõm to. Sau đó em biết đến bác sỹ và làm tại Thẩm mỹ viện...
								.bottom 
									.name(class="text-Primary-Primary_04 font-normal") Vũ Bảo Châu
									.jop(class="text-xs font-normal text-Neutral-500-main") General Manager
			.home-9-bottom(class="flex items-center justify-between mt-6") 
				.number 01/05
				.arrow-button(class="flex items-center gap-6") 
					.btn-prev
						i.fa-light.fa-arrow-left-long
					.btn-next 
						i.fa-light.fa-arrow-right-long