section.home-4 
	.home-4-main(class="flex")
		.col-left(class="w-6/12 bg-Primary-Primary_01 rem:pt-[150px] relative")
			.home-4-slide(class="relative left-2/4 -translate-x-2/4")
				.swiper 
					.swiper-wrapper 
						.swiper-slide(data-id="1")
							.item(class="rem:w-[354px]")
								h2(class="title-48 mb-base") Dịch vụ nổi bật
								.image(class="rem:w-[296px]")
									a(href="javascript:;" class="img-ratio ")
										img(src="./img/1.jpg", alt="", data-img="./img/1.jpg") 
									.number(class="absolute top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 z-20 text-32 text-Neutral-White") 01/04
								.content(class="text-center")
									h3(class="text-2xl font-normal text-Primary-Primary_04 mb-3") Căng da bằng chỉ sinh học không phẫu thuật
									.desc(class="text-sm font-normal text-Neutral-700") Làm săn chắc da bằng cách sử dụng chỉ tự tiêu, kích thích collagen tái tạo, giúp làn da căng mịn, trẻ trung mà không cần can thiệp phẫu thuật
						.swiper-slide(data-id="2")
							.item(class="rem:w-[354px]")
								h2(class="title-48 mb-base") Dịch vụ nổi bật
								.image(class="rem:w-[296px]")
									a(href="javascript:;" class="img-ratio ")
										img(src="https://picsum.photos/1040/585", alt="", data-img="https://picsum.photos/1040/585") 
									.number(class="absolute top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 z-20 text-32 text-Neutral-White") 01/04
								.content(class="text-center")
									h3(class="text-2xl font-normal text-Primary-Primary_04 mb-3") Căng da bằng chỉ sinh học không phẫu thuật
									.desc(class="text-sm font-normal text-Neutral-700") Làm săn chắc da bằng cách sử dụng chỉ tự tiêu, kích thích collagen tái tạo, giúp làn da căng mịn, trẻ trung mà không cần can thiệp phẫu thuật
						.swiper-slide(data-id="3")
							.item(class="rem:w-[354px]")
								h2(class="title-48 mb-base") Dịch vụ nổi bật
								.image(class="rem:w-[296px]")
									a(href="javascript:;" class="img-ratio")
										img(src="./img/1.jpg", alt="", data-img="./img/1.jpg" ) 
									.number(class="absolute top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 z-20 text-32 text-Neutral-White") 01/04
								.content(class="text-center")
									h3(class="text-2xl font-normal text-Primary-Primary_04 mb-3") Căng da bằng chỉ sinh học không phẫu thuật
									.desc(class="text-sm font-normal text-Neutral-700") Làm săn chắc da bằng cách sử dụng chỉ tự tiêu, kích thích collagen tái tạo, giúp làn da căng mịn, trẻ trung mà không cần can thiệp phẫu thuật
				.wrap-button-slide(class="block")
					.btn.btn-prev.btn-sw-1
					.btn.btn-next.btn-sw-1
			
		.col-right(class="w-6/12")
			.image(data-id="1") 
				a(href="javascript:;" class="img-ratio ratio:pt-[860_960] lozad")
					img(src="./img/1.jpg", alt="") 
			.image(data-id="2") 
				a(href="javascript:;" class="img-ratio ratio:pt-[860_960] lozad")
					img(src="https://picsum.photos/1040/585", alt="") 
			.image(data-id="3") 
				a(href="javascript:;" class="img-ratio ratio:pt-[860_960] lozad")
					img(src="./img/1.jpg", alt="") 