section.about-3(class="relative")
	.line(class="absolute right-0 top-[-20rem] -z-1 rem:w-[560px]" )
		.image(class="ratio-contain ratio:pt-[380_560]")
			img(src="./img/line-1.svg", alt="")
	.about-3-main(class="flex items-center rem:gap-[160px] rem:pl-[86px] pr-10 rem:mt-[293px]")
		.col-left(class="rem:w-[794px]")
			.image(data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000")
				a(href="javascript:;" class="img-ratio ratio:pt-[643_794] lozad") 
					img(src="./img/1.jpg", alt="")
		.col-right(class="w-[calc(100%-41.35416666666667rem-8.333333333333334rem)]")
			.content(class="rem:pr-[160px]" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200") 
				h2(class="title-48 mb-base") Thương hiệu ra đời từ đam mê và tâm huyết
				ul 
					li Dencos Luxury được hình thành không chỉ từ một khát khao mang lại vẻ đẹp hoàn hảo cho mọi người mà còn từ niềm đam mê mãnh liệt với ngành thẩm mỹ. Chúng tôi hiểu rằng, chất lượng dịch vụ không chỉ là yếu tố quan trọng trong việc cải thiện vẻ đẹp, mà còn là cách thể hiện sự quan tâm và chăm sóc tận tình từ phía đội ngũ chuyên gia. Chính vì vậy, Dencos Luxury luôn đặt ra tiêu chí kiểm soát chất lượng dịch vụ nghiêm ngặt, nhằm mang đến cho khách hàng những kết quả thẩm mỹ tối ưu nhất, hài lòng nhất. 
					li Từ ban lãnh đạo cho đến nhân viên, mỗi người tại Dencos Luxury đều đặt niềm tin vào việc xây dựng một thương hiệu đáng tin cậy, luôn lắng nghe và thấu hiểu những mong muốn của khách hàng, từ đó tạo dựng nên một mối quan hệ bền vững và tin tưởng tuyệt đối từ phía khách hàng.
					li Dencos Luxury luôn quan niệm rằng sự hài lòng và niềm tin của khách hàng là yếu tố quyết định giúp thương hiệu phát triển mạnh mẽ hơn nữa. 