section.offer
	.global-breadcrumb
		.container
			nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
				p
					a(href="https://oracle.webcanhcam.vn") Trang chủ
					span(class="separator") | 
					span(class="last") Về chúng tôi
	.offer-wrapper(class="rem:px-[86px] relative section-py") 
		h2(class="title-48 text-center mb-base") Ưu đãi
		.offer-main(class="flex gap-base")
			.col-left(class="w-6/12 pb-10")
				.offer-fixed(class="sticky top-20")
					.swiper 
						.swiper-wrapper 
							.swiper-slide
								.image(class="relative") 
									a(href="./offerDetail.html" class="img-ratio ratio:pt-[866_854] lozad")
										img(src="./img/1.jpg", alt="") 
									.content(class="p-10 absolute bottom-0")
										h3 Tri ân khách hàng – mừng sinh nhật Dencos Luxury với quà tặng ưu đãi đến 50%
										.desc Ưu điểm: Giảm mỡ, tăng cơ, săn chắc da toàn diện không xâm lấn, điều trị nhanh, không nghỉ dưỡng, hiệu quả tức thì.
										a.more(href="#") 
											.line(class="w-5 h-[1px] bg-[#525252]")
											span Xem chi tiết
							.swiper-slide
								.image(class="relative") 
									a(href="./offerDetail.html" class="img-ratio ratio:pt-[866_854] lozad")
										img(src="https://picsum.photos/1040/585", alt="") 
									.content(class="p-10 absolute bottom-0")
										h3 Tri ân khách hàng – mừng sinh nhật Dencos Luxury với quà tặng ưu đãi đến 50%
										.desc Ưu điểm: Giảm mỡ, tăng cơ, săn chắc da toàn diện không xâm lấn, điều trị nhanh, không nghỉ dưỡng, hiệu quả tức thì.
										a.more(href="#") 
											.line(class="w-5 h-[1px] bg-[#525252]")
											span Xem chi tiết
							.swiper-slide
								.image(class="relative") 
									a(href="./offerDetail.html" class="img-ratio ratio:pt-[866_854] lozad")
										img(src="https://picsum.photos/1040/584", alt="") 
									.content(class="p-10 absolute bottom-0")
										h3 Tri ân khách hàng – mừng sinh nhật Dencos Luxury với quà tặng ưu đãi đến 50%
										.desc Ưu điểm: Giảm mỡ, tăng cơ, săn chắc da toàn diện không xâm lấn, điều trị nhanh, không nghỉ dưỡng, hiệu quả tức thì.
										a.more(href="#") 
											.line(class="w-5 h-[1px] bg-[#525252]")
											span Xem chi tiết
			.col-right(class="w-6/12")
				.wrapper(class="flex gap-base")
					.left(class="w-2/4 flex flex-col gap-16")
						.item
							.image(class="rem:w-[407px]")
								a(href="#" class="img-ratio")
									img(src="./img/1.jpg", alt="") 
							.content(class="mt-6 flex flex-col gap-4")
								.date(class="text-sm text-Neutral-500-main") 17/03/2025 
								h3(class="text-2xl font-secondary font-medium text-Primary-Primary_04")
									a(href="#") Bảng giá chi tiết các dịch vụ ưu đãi mừng sinh nhật tháng 8/2018
								.desc(class="text-Neutral-500-main font-normal text-lg") Ưu điểm: Giảm mỡ, tăng cơ, săn chắc da toàn diện không xâm lấn, điều trị nhanh, không nghỉ dưỡng, hiệu quả tức thì.
						.item
							.image(class="rem:w-[407px]")
								a(href="#" class="img-ratio")
									img(src="./img/1.jpg", alt="") 
							.content(class="mt-6 flex flex-col gap-4")
								.date(class="text-sm text-Neutral-500-main") 17/03/2025 
								h3(class="text-2xl font-secondary font-medium text-Primary-Primary_04")
									a(href="#") Bảng giá chi tiết các dịch vụ ưu đãi mừng sinh nhật tháng 8/2018
								.desc(class="text-Neutral-500-main font-normal text-lg") Ưu điểm: Giảm mỡ, tăng cơ, săn chắc da toàn diện không xâm lấn, điều trị nhanh, không nghỉ dưỡng, hiệu quả tức thì.
						.item
							.image(class="rem:w-[407px]")
								a(href="#" class="img-ratio lozad")
									img(src="./img/1.jpg", alt="") 
							.content(class="mt-6 flex flex-col gap-4")
								.date(class="text-sm text-Neutral-500-main") 17/03/2025 
								h3(class="text-2xl font-secondary font-medium text-Primary-Primary_04")
									a(href="#") Bảng giá chi tiết các dịch vụ ưu đãi mừng sinh nhật tháng 8/2018
								.desc(class="text-Neutral-500-main font-normal text-lg") Ưu điểm: Giảm mỡ, tăng cơ, săn chắc da toàn diện không xâm lấn, điều trị nhanh, không nghỉ dưỡng, hiệu quả tức thì.
					.right(class="w-2/4 flex flex-col gap-16")
						.item
							.image(class="rem:w-[407px]")
								a(href="#" class="img-ratio ratio:pt-[280_407] lozad")
									img(src="./img/1.jpg", alt="") 
							.content(class="mt-6 flex flex-col gap-4")
								.date(class="text-sm text-Neutral-500-main") 17/03/2025 
								h3(class="text-2xl font-secondary font-medium text-Primary-Primary_04")
									a(href="#") Bảng giá chi tiết các dịch vụ ưu đãi mừng sinh nhật tháng 8/2018
								.desc(class="text-Neutral-500-main font-normal text-lg") Ưu điểm: Giảm mỡ, tăng cơ, săn chắc da toàn diện không xâm lấn, điều trị nhanh, không nghỉ dưỡng, hiệu quả tức thì.
						.item
							.image(class="rem:w-[407px]")
								a(href="#" class="img-ratio ratio:pt-[610_407] lozad")
									img(src="./img/1.jpg", alt="") 
							.content(class="mt-6 flex flex-col gap-4")
								.date(class="text-sm text-Neutral-500-main") 17/03/2025 
								h3(class="text-2xl font-secondary font-medium text-Primary-Primary_04")
									a(href="#") Bảng giá chi tiết các dịch vụ ưu đãi mừng sinh nhật tháng 8/2018
								.desc(class="text-Neutral-500-main font-normal text-lg") Ưu điểm: Giảm mỡ, tăng cơ, săn chắc da toàn diện không xâm lấn, điều trị nhanh, không nghỉ dưỡng, hiệu quả tức thì.
						.item
							.image(class="rem:w-[407px]")
								a(href="#" class="img-ratio")
									img(src="./img/1.jpg", alt="") 
							.content(class="mt-6 flex flex-col gap-4")
								.date(class="text-sm text-Neutral-500-main") 17/03/2025 
								h3(class="text-2xl font-secondary font-medium text-Primary-Primary_04")
									a(href="#") Bảng giá chi tiết các dịch vụ ưu đãi mừng sinh nhật tháng 8/2018
								.desc(class="text-Neutral-500-main font-normal text-lg") Ưu điểm: Giảm mỡ, tăng cơ, săn chắc da toàn diện không xâm lấn, điều trị nhanh, không nghỉ dưỡng, hiệu quả tức thì.